<%- include("partials/header"); -%>


    <div class="mainbox">
    <div class="form-row">
    <form action="/" method="post">
    <div class="col-7">
    
    <label for="cityInput" class="label">City Name</label>
    <input id="cityInput" class="form-control top" type="text" name="cityName" placeholder="City">
    <button type="submit" class="btn btn-block btn-primary index">Go</button>
    </div>
    </form>
</div>
</div>


<%- include("partials/footer"); -%>